<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.leemin.nugget</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nugget</string>
	<key>CFBundleDisplayName</key>
	<string>Nugget</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>Nugget</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>Imported Type Identifiers</key>
	<array>
		<dict>
			<key>Icon file names</key>
			<array></array>
			<key>Identifier</key>
			<string>com.leemin.mobiledevicepairing</string>
			<key>Conforms to Type Identifiers</key>
			<array>
				<string>public.data</string>
			</array>
			<key>Description</key>
			<string>Mobile Device Pairing File</string>
			<key>Equivalent Types</key>
			<dict>
				<key>Extensions</key>
				<array>
					<string>mobiledevicepairing</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UIApplicationShowsViewsWhileLocked</key>
	<false/>
	<key>UIApplicationSystemWindowsSecureKey</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>ALTDeviceID</key>
    <string></string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009 Apple Inc. All Rights Reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
